# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.spec

# Virtual environment
venv/
.venv/
env/

# Logi generowane przez aplikację
safety_log.txt
ui_log.txt

# PyInstaller
dist/
build/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
